# Backend/API
API_URL=http://localhost:5000
DEVICE_NAME=TesterMSA
DEVICE_TYPE=PressureSystem
IP_HOST=localhost
PORT=8080
HARDWARE_MODE=mock
# HARDWARE_MODE can be 'mock' or 'serial'
# SERIAL_PORT=/dev/ttyUSB0
# SERIAL_BAUD=9600
